<div class="item">
  <img class="brand" src="assets/images/hcl-logo.png">
</div>
<div class="ui text container">
  <div class="ui segment">
    <h3>Location:</h3>
    <div class="ui input fluid action">

      <input type="text" placeholder="Search...">
      <button class="ui button">Search</button>
    </div>
  </div>
</div>
<div class="ui divider"></div>
<div class="ui grid">
  <div class="four wide column">
    <sui-accordion class="styled fluid">
      <sui-accordion-panel>
        <div title>
          <i class="dropdown icon"></i> Basic Needs
        </div>
        <div content>
          <div class="ui list middle aligned divided">
            <div class="item">
              <div class="content">
                <a class="header" (click)="topToggle(top_level)">{{(top_level | async)?.service_name}}</a>
                <div class="description">{{(top_level | async)?.sub_active}} of {{(top_level | async)?.sub_count}}</div>
              </div>
            </div>
          </div>
        </div>
      </sui-accordion-panel>
    </sui-accordion>
  </div>
  <div class="seven wide column">
    <div class="ui divided list">
      <h3 class="ui header">{{(top_level | async)?.service_name}}</h3>
      <div class="item" *ngFor="let subservice of (top_level | async)?.subservices">

        <div *ngIf="subservice.active" class="left floated content">
          <div class="ui black button" (click)="lvlToggle(subservice)">
            Included
          </div>
        </div>
        
        <div *ngIf="!subservice.active" class="left floated content">
          <div class="ui black button basic" (click)="lvlToggle(subservice)">
            Excluded
          </div>
        </div>

       <div class="content">
          <a class="header" (click)="lvlToggle(subservice)">{{subservice.service_name}}</a>
          <div class="description">{{subservice.service_code}}</div>
        </div>
      </div>
    </div>
  </div>

</div>
